@import './tokens.css';
@import './section.css';

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: 'Texta', sans-serif;
    position: relative;
    width: 100%;
    color: var(--color-text);
    font-size: var(--font-body);
}

.urb_home-title {
    font-size: var(--font-title);
    line-height: var(--font-title);
}

.urb_home-subtitle {
    font-size: var(--font-subtitle);
}

.subtitle-secundary {
    color: var(--color-secundary-300);
}

.urb_home_content a {
    font-size: var(--font-btn-large);
}


header {
    background-color: transparent;
    position: fixed;
    width: calc(100% - var(--pd-lr-box-md)*2);
    padding: 0rem var(--pd-lr-box-md);
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 200;
    transition: background-color 0.3s ease;
}

main {
    position: relative;
}

/* -----------------------------
            NAV 
------------------------------*/

.urb_nav-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 0.625rem;
}

.urb_nav-list a {
    padding: 0.25rem 0.5rem;
    text-decoration: none;
    color: white;
}

.urb_nav-list .nav-btn {
    padding: 0.25rem 1rem;
    border-radius: 1.5625rem;
    background: var(--color-secundary);
    color: var(--color-text);
}

.urb_nav-listItem-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: var(--color-secundary);
    line-height: 20px;
}

.urb_nav-listItem-contacto a {
    color: var(--color-text) !important;
}

.nav_active {
    border-bottom: 2px solid var(--color-secundary);
}

/* -----------------------------
            BUTTON 
------------------------------*/

.btn-primary {
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.25rem;
    background: var(--color-primary);
    font-size: var(--font-btn);
    color: var(--color-white);
    border: none;
    cursor: pointer;
}

.btn-primary i {
    font-size: var(--font-small);
}

.btn-secundary {
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.25rem;
    background: white;
    border: 1px solid var(--color-primary);
    font-size: var(--font-btn);
    font-style: normal;
    font-weight: 400;
    color: var(--color-primary);
    cursor: pointer;
}

.btn-secundary i {
    font-size: var(--font-btn-icon);
    line-height: var(--font-btn);
}

/* -----------------------------
            CARD 
------------------------------*/

.serv_card {
    width: 100%;
    height: 475px;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.serv_card.flipped {
    transform: rotateY(180deg);
}

.card-box {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.serv_card-front {
    width: auto;
    height: 430px;
    cursor: pointer;
    display: flex;
    padding: 1.5rem 2.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-shrink: 0;
    border-radius: 12px;
    position: absolute;
}

.card-white {
    background-color: white;
}

.card-transparent {
    background-color: transparent;
}

.card-paragraph {
    text-align: center;
}

.serv_card-back {
    width: auto;
    height: 430px;
    background: var(--color-primary);
    color: white;
    transform: rotateY(180deg);
    padding: 1.5rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1.5rem;
}

.card_back-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.card_back-header a {
    cursor: pointer;
}

.card_back-list {
    width: 95%;
    margin: 0;
    padding: 0 0 0 24px;
}

/* -----------------------------
            LIST 
------------------------------*/

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list li {
    padding-left: 30px;
    position: relative;
}

.list li::before {
    content: "\f14a";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: var(--font-list-style);
    position: absolute;
    left: 7px;
    top: 6px;
    color: var(--color-secundary);
}

/* -----------------------------
            MODAL 
------------------------------*/
.modal {
    display: none;
    position: fixed;
    z-index: 200;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 60px;
}

.modal-content {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
}

.modal-header {
    font-weight: bold;
    margin-bottom: 15px;
}

.modal-footer {
    text-align: right;
}

.close {
    color: var(--color-gray-200);
    top: 16px;
    right: 24px;
    position: absolute;
    z-index: 2;
    float: right;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* -----------------------------
            FORM 
------------------------------*/

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

label {
    display: block;
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: var(--pd-input);
    border: 1px solid rgba(238, 238, 238, 0.10);
    box-sizing: border-box;
    border-radius: 4px;
    background: rgba(238, 238, 238, 0.10);
    color: white;
    font-family: 'Texta', sans-serif;
    font-size: var(--font-body);
}

textarea {
    resize: vertical;
    min-height: 100px; 
}

input:focus, textarea:focus { 
    border: 1px solid rgba(255, 255, 255, 0.507)!important;
    outline: none;
}


.form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.form-row .form-group {
    flex: 1;
}

form button {
    width: 100%;
}

/* -----------------------------
            CHECK 
------------------------------*/

.checkbox-container a {
    color: var(--color-primary-300);
}

.checkbox-container input {
    margin-right: 10px;
}

.checkbox-container input[type="checkbox"] {
    display: none;
}

.checkbox-container label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    margin: 0;
}

.checkbox-container label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #fff;
    transition: all 0.3s ease;
    text-align: center;
}

.checkbox-container input[type="checkbox"]:checked+label::before {
    background-color: var(--color-primary);
}

.checkbox-container input[type="checkbox"]:checked+label::after {
    content: '\2713';
    position: absolute;
    left: 4px;
    top: -1px;
    color: white;
}


/* -----------------------------
            SCROLL 
------------------------------*/

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

body::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-secundary);
}

/* -----------------------------
            UTILITIES 
------------------------------*/

.p-section {
    padding: var(--pd-tb-box-md) var(--pd-lr-box-md);
    display: flex;
    flex-direction: column;
    gap: 56px;
}

a {
    text-decoration: none;
}

/* ALIGN */
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* SELECT */
.no-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* MARGIN */
.m-auto {
    margin: 0 auto;
}

/* TEXT */
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    line-height: inherit;
}

h2 {
    font-size: var(--font-h2);
    color: var(--color-primary);
}

h3 {
    font-size: var(--font-h3);
    text-transform: uppercase;
}

.tag {
    font-size: var(--font-small);
}

p {
    margin: 0;
}

.txt-center {
    text-align: center;
}

a>i {
    font-size: 1.5rem;
}

button {
    font-family: 'Texta', sans-serif;
}

