@import url(https://fonts.bunny.net/css);

:root {

    --font: "Lato", sans-serif;
    /* Color */
    --color-secundary: var(--color-secundary-500);
    --color-primary: var(--color-primary-500);
    --color-gray: var(--color-gray-500);
    --color-text: var(--color-gray-900);
    --color-text-secundary: var(--color-gray-500);
    --color-white: #ffffff;

    --btn-disabled: var(--color-gray-200);
    --txt-disabled: var(--color-gray-700);

    --color-primary-50: #e6eff3;
    --color-primary-100: #b0ced8;
    --color-primary-200: #8ab6c6;
    --color-primary-300: #5494ab;
    --color-primary-400: #33809b;
    --color-primary-500: #006082;
    --color-primary-600: #005776;
    --color-primary-700: #00445c;
    --color-primary-800: #003548;
    --color-primary-900: #002837;

    --color-secundary-50: #faf5e6;
    --color-secundary-100: #efdfb1;
    --color-secundary-200: #e7d08c;
    --color-secundary-300: #dcba57;
    --color-secundary-400: #d5ad36;
    --color-secundary-500: #cb9804;
    --color-secundary-600: #b98a04;
    --color-secundary-700: #906c03;
    --color-secundary-800: #705402;
    --color-secundary-900: #554002;

    --color-gray-50: #eeeeee;
    --color-gray-100: #cbcbcb;
    --color-gray-200: #b1b2b2;
    --color-gray-300: #8e8e8f;
    --color-gray-400: #787979;
    --color-gray-500: #565758;
    --color-gray-600: #4e4f50;
    --color-gray-700: #3d3e3e;
    --color-gray-800: #2f3030;
    --color-gray-900: #242525;

    --bg-section: rgba(151, 169, 176, 0.20);
    --bg-tab-inactive: rgb(220 226 227);
    --bg-primary-gradient-360g: linear-gradient(356deg, var(--color-primary-900) 0%, var(--color-primary-500) 100%);

    --color-white-opacity-50: rgb(255 255 255 / 70%);
    /* Size */
    --size-3xl: 3rem;
    --size-2xl: 2.5rem;
    --size-xxs: 0.25rem;
    --size-md: 1rem;
    --size-xl: 2rem;
    --size-sm: 0.75rem;
    --size-4xl: 4rem;
    --size-xs: 0.5rem;
    --size-lg: 1.5rem;

    --width-prod: 70vw;

    --pd-tb-box-sm: 70px;
    --pd-tb-box-md: 100px;
    --pd-lr-box-md: 100px;
    
    --pd-box-sm: 100px 100px;

    --qs-size-image: 600px;
    --qs-pd-box: 100px 100px 100px 570px; 
    

    --pd-input: 8px 12px;

    /* Font */
    --font-body: 1rem; 

    --font-title: 36px;
    --font-subtitle: 1.2rem;
    --font-btn-large: 1rem;
    --font-list-ico: .5rem;

    --font-h2: 1.5rem;
    --font-h3: 1rem;
    --font-small: .85rem;

    --font-btn: 1rem;
    --font-btn-icon: 11.2px;
    --font-list-style: .8rem;

    /* Image */
    --img-qs: url(./../image/qs.webp);
    --img-overlay-contact: url(./../image/overlay_contact.webp);
    --img-bg-O4B: url(./../image/producto_1.webp);
    --img-bg-kantan: url(./../image/producto_2.webp);
    --img-overlay-nst: url(../image/overlay_nst.webp);

}
/* 
@media only screen and (max-width: 1200px) {

    :root{
        --pd-lr-box-md: 50px;
    }
}
@media only screen and (max-width: 436px) {
    :root {
        --pd-tb-box-sm: 50px;
        --pd-tb-box-md: 70px;
        --pd-lr-box-md: 24px;
        --pd-box-sm: 0px; 
    }

}

@media (min-width: 1400px) {
    :root {
        --pd-box-sm: 70px 136px; 
        --pd-tb-box-sm: 70px;
        --pd-tb-box-md: 100px;
        --pd-lr-box-md: 136px;

    }
} */